html {
  height:100%;
  background: #648880; /* Old browsers */
  background: -moz-linear-gradient(top, #648880 0%, #293f50 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #648880 0%,#293f50 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #648880 0%,#293f50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #DFDCDB;
}

body {
  width: 100%;
  height: 100%;
  background: #648880; /* Old browsers */
  background: -moz-linear-gradient(top, #648880 0%, #293f50 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #648880 0%,#293f50 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #648880 0%,#293f50 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #DFDCDB;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.logo {
  width: 80%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sidenav {
  background: linear-gradient(	#333333, black);
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  display: block;
  color: #DFDCDB;
  font-size: 20px;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.sidenav a:hover {
  color: #648880;
}

.sidenav h1 {
  padding-left: 16px;
}

.sidenav-icon {
  font-size: 26px;
  position: relative;
  padding-right: 8px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
